<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모든 농장</title>
</head>
<body>
    <h1>All Farms</h1>
    <ul>
        <% for(let farm of farms) { %>
            <li><a href="/farms/<%= farm._id %>"><%= farm.name %></a></li>
        <% }%>
    </ul>
    <a href="/farms/new">농장 추가하기</a>
    <p>경로: index</p>
</body>
</html>