<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= `hello!`.toUpperCase()%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam mollitia
      neque esse voluptas in, fugiat cupiditate consequuntur at sequi tenetur,
      consequatur laboriosam eveniet quis quo, tempora nesciunt illum quas sint!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam mollitia
      neque esse voluptas in, fugiat cupiditate consequuntur at sequi tenetur,
      consequatur laboriosam eveniet quis quo, tempora nesciunt illum quas sint!
    </p>
  </body>
</html>
