<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀 경로</title>
</head>
<body>
    <h1>Secret Page!</h1>
    <h2>비밀 경로! 로그인을 진행한 사람만 보여요.</h2>
    <form action="/logout" method="post">
        <button>로그아웃</button>
    </form>
</body>
</html>