<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모든 상품</title>
</head>
<body>
    <h1><%= category %> 상품</h1>
    <ul>
        <% for(let product of products) { %>
            <li><a href="/products/<%=product._id%>"><%=product.name%></a></li>
        <% }%>
    </ul>
    <a href="/products/new">상품 추가하기</a>
    <% if(category !== '모든') {%>
        <a href="/products">모든 상품 보기</a>
    <%}%>
</body>
</html>